<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOSD_CS_PROJ.Properties.Settings.TravelExpertsConnectionString"
            connectionString="Data Source=10.163.37.67;Initial Catalog=TravelExperts;User ID=sa;Password=N1o2a3h4!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>